In [2]:
import pandas as pd


# Remplacez 'chemin_vers_fichier1.xlsx' et 'chemin_vers_fichier2.xlsx' par les chemins rÃ©els de vos fichiers
file_path1 = "players_stats_by_season_full_details.xlsx"
file_path2 = "NBA_Anthropometric.csv"

df1 = pd.read_excel(file_path1)
df2 = pd.read_csv(file_path2)

# Afficher les deux DataFrames
display(df1.head())
display(df2.head())

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,"Mar 6, 1972",2025-01-07 00:00:00,216.0,325.0,147.0,United States,Robert G. Cole High School,1.0,1.0,Orlando Magic
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,"Jan 26, 1977",2025-06-06 00:00:00,198.0,220.0,100.0,United States,Mainland High School,1.0,5.0,Golden State Warriors
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,"Jul 24, 1963",2025-09-06 00:00:00,206.0,265.0,120.0,United States,Summerfield High School,1.0,13.0,Utah Jazz
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,"Jun 7, 1975",6-0,183.0,165.0,75.0,United States,Bethel High School,1.0,1.0,Philadelphia Sixers
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,"Jul 23, 1968",2025-04-06 00:00:00,193.0,180.0,82.0,United States,Skyline High School,1.0,2.0,Seattle SuperSonics

,player_name,position,height,height_with_shoes,weight,wingspan,standing_reach,body_fat_percentage,hand_length,hand_width,draft_year
0,Trey Alexander,SG,191.14,NaN,83.73,208.28,257.81,NaN,21.59,22.22,2023
1,Amari Bailey,SG,191.14,NaN,86.55,200.66,262.89,NaN,20.32,23.50,2023
2,Emoni Bates,SF,203.84,NaN,81.28,205.74,266.70,NaN,20.32,20.96,2023
3,Reece Beekman,PG,186.69,NaN,86.45,200.66,255.27,NaN,21.59,20.96,2023
4,Anthony Black,PG,197.48,NaN,95.25,201.93,260.35,NaN,20.96,24.13,2023

In [3]:
# Extraire les noms uniques de df2
noms_uniques_df2 = set(df2['player_name'].unique())

# Extraire les noms uniques de df1
noms_uniques_df1 = set(df1['Player'].unique())

# Trouver combien de noms uniques de df2 sont prÃ©sents dans df1
noms_communs = noms_uniques_df2.intersection(noms_uniques_df1)
print(f"Nombre de noms uniques de df2 prÃ©sents dans df1 : {len(noms_communs)}")

Nombre de noms uniques de df2 prÃ©sents dans df1 : 947

In [4]:
# Filtrer df1 pour ne garder que les lignes dont le nom du joueur est dans noms_communs
df1_trie = df1[df1['Player'].isin(noms_communs)]
display(df1_trie.head())
df1_trie.info()

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team
42,NBA,1999 - 2000,Regular_Season,Glen Rice,LAL,80,2530.0,421,980,84,...,"May 28, 1967",2025-08-06 00:00:00,203.0,228.0,103.0,United States,Flint Northwestern High School,1.0,4.0,Miami Heat
157,NBA,1999 - 2000,Regular_Season,Jaren Jackson,SAS,81,1691.0,186,488,108,...,"Oct 27, 1967",2025-04-06 00:00:00,193.0,190.0,86.0,United States,Walter Cohen High School,NaN,NaN,NaN
213,NBA,1999 - 2000,Playoffs,Glen Rice,LAL,23,766.0,93,228,28,...,"May 28, 1967",2025-08-06 00:00:00,203.0,228.0,103.0,United States,Flint Northwestern High School,1.0,4.0,Miami Heat
356,Euroleague,2000 - 2001,International,Marko Jaric,BOL,22,631.3,79,180,17,...,"Oct 12, 1978",2025-07-06 00:00:00,201.0,224.0,102.0,Serbia / Greece,NaN,2.0,1.0,Los Angeles Clippers
395,Euroleague,2000 - 2001,International,Igor Rakocevic,BUD,11,327.9,50,120,10,...,"Mar 29, 1978",2025-03-06 00:00:00,191.0,183.0,83.0,Serbia,NaN,2.0,22.0,Minnesota Timberwolves

<class 'pandas.core.frame.DataFrame'>
Index: 6269 entries, 42 to 53787
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League       6269 non-null   object
 1   Season       6269 non-null   object
 2   Stage        6269 non-null   object
 3   Player       6269 non-null   object
 4   Team         6269 non-null   object
 5   GP           6269 non-null   int64
 6   MIN          6269 non-null   float64
 7   FGM          6269 non-null   int64
 8   FGA          6269 non-null   int64
 9   3PM          6269 non-null   int64
 10  3PA          6269 non-null   int64
 11  FTM          6269 non-null   int64
 12  FTA          6269 non-null   int64
 13  TOV          6269 non-null   int64
 14  PF           6269 non-null   int64
 15  ORB          6269 non-null   int64
 16  DRB          6269 non-null   int64
 17  REB          6269 non-null   int64
 18  AST          6269 non-null   int64
 19  STL          6269 non-null   int64
 20  BLK          6269 non-null   int64
 21  PTS          6269 non-null   int64
 22  birth_year   6269 non-null   float64
 23  birth_month  6269 non-null   object
 24  birth_date   6269 non-null   object
 25  height       6269 non-null   object
 26  height_cm    6269 non-null   float64
 27  weight       6264 non-null   float64
 28  weight_kg    6264 non-null   float64
 29  nationality  6269 non-null   object
 30  high_school  5797 non-null   object
 31  draft_round  4571 non-null   float64
 32  draft_pick   4571 non-null   float64
 33  draft_team   4571 non-null   object
dtypes: float64(7), int64(16), object(11)
memory usage: 1.7+ MB